html{
	background:#E0FFFF
}
.uwu{
	height: 200px;
    width: 200px;
}
.tut{
	height: 200px;
    width: 200px;
}
.ouo{
	height: 200px;
    width: 200px;
}
.joj{
	height: 160px;
    width: 200px;
}
.tot{
	height: 200px;
    width: 200px;
}
.bib{
	height: 200px;
    width: 200px;
}
.mnm{
	height: 200px;
    width: 200px;
	
}
.mnm{ 
    left: 500px; 
    bottom: 0;
	right: 0;
}
	
	
	